:root {
    --dark-brown: #3A2A1C;
    --light-brown: #978170;
    --grey: #B5AFA8;
    --white: #DBD3C8;
    --yellow: #EFBD5F;
}

body {
    font-family: 'Yaldevi', sans-serif;
}

.alert-container .col-12 {
    padding-right: 0;
    padding-left: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin: 0;
    padding: 8px 8px 8px 30px;
    background-color: var(--yellow);
    color: var(--dark-brown);
    border: none;
}

.callout-container {
    height: 100vh;
    background: url('/assets/images/whiskey.jpg') no-repeat bottom center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.quotes-container {

}

.features-container {
    
}

.opaque-overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: var(--white);
    font-weight: 600;
    margin-bottom: 30px;
}

.jumbotron small {
    color: var(--white);
    font-size: 1rem;
    font-style: italic;
}

.jumbotron .lead {
    color: var(--white);
    font-weight: 400;
}

.jumbotron mark {
    background-color: var(--yellow);
    color: var(--dark-brown);
    margin: 1rem;
}

.btn--cta {
    background-color: var(--light-brown);
    border: 1px solid var(--dark-brown);
    color: var(--white);
    border-radius: 25px;
    width: 10rem;
}

.btn--cta:hover,
.btn--cta:active,
.btn--cta:focus,
.btn--cta:active:focus {
    background-color: var(--grey);
    border: 1px solid var(--grey);
    color: var(--dark-brown);
    outline: none;
}

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: var(--grey);
}

.navbar-toggler {
    border: none;
    outline: none;
}

button:focus {
    outline: none;
}

.navbar-brand {
    font-weight: 600;
}

.navbar .navbar-nav a {
    font-weight: 400;
}

.dropdown-menu {
    background-color: var(--grey);
    border: none;
    border-radius: 0;
    padding-left: 2rem;
}

.dropdown-menu a {
    color: var(--white);
}